.body{
    width: calc(100% - 8.875rem);
    //height: 100vh;
    margin-left: 8.875rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #F4FFFE;
    padding: 3rem;
}

.body-trimmed{
    width: calc(100% - 20.4375rem);
    margin-left: 20.4375rem;
}
.body-md-screen{
    width: calc(100% - 8.875rem);
    margin-left: 8.875rem;
}
