<div class="autori-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <img src="/assets/Rama_Autori.svg">
        <div class="flip-card-front">
          <div class="autori-body">
            <img src="/assets/PozaMihai.svg">
            <div class="autor-head"><p>Mihai</p></div>
            <img src="/assets/Sageata_Autori.svg">
            <div class="autor-description"><p>Filozov pana la oase si mereu in cautarea de a vedea lumea cu alti ochi,Mihai , este cel care sta in spatele articolelor legate de psihologie, emotii, relatii inter-umane dar si locatii unde se manaca bine .Fiind o persoana empatica si me...</p></div>
          </div>
       </div>
        <div class="flip-card-back">
          <div class="autori-body">
            <div class="autor-description"><p>Filozov pana la oase si mereu in cautarea de a vedea lumea cu alti ochi,Mihai , este cel care sta in spatele articolelor legate de psihologie, emotii, relatii inter-umane dar si locatii unde se manaca bine .Fiind o persoana empatica si mereu cu zambetul pe buze, te poti baza pe el cand vine vorba de o parere buna sau o imbratisare. Creativ dar obiectiv este mai mult decat inzestrat cu abilitatile necesare pentru a scrie astfel de articole.</p></div>
        </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <img src="/assets/Rama_Autori.svg">
        <div class="flip-card-front">
          <div class="autori-body">
            <img src="/assets/PozaElvis.svg">
            <div class="autor-head"><p>Elvis</p></div>
            <img src="/assets/Sageata_Autori.svg">
            <div class="autor-description"><p>Antreprenor pana la oase si mereu in cautare de experiente noi,Elvis ,este cel care sta in spatele articolelor legate de tehnologie, managment, fitness dar si o alimentatie sanatoasa. Fiind o persoana cu simtul umorului si mereu in schimbare te p...</p></div>
          </div>
       </div>
        <div class="flip-card-back">
          <div class="autori-body">
            <div class="autor-description"><p>Antreprenor pana la oase si mereu in cautare de experiente noi,Elvis ,este cel care sta in spatele articolelor legate de tehnologie, managment, fitness dar si o alimentatie sanatoasa. Fiind o persoana cu simtul umorului si mereu in schimbare te poti baza pe el cand ai nevoie de o strategie sau o gluma buna. Aventuros dar documentat si pregatit este mai mult decat inzestrat cu abilitatile necesare pentru a scrie astfel de articole .</p></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  