@font-face{
    src: URL(../../assets/ROCK.TTF);
    font-family: Rock-well;
}
.autori-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.autor-container{
    position: relative;
    .autori-body{
        font-family: Rock-well;
        width: 60%;
        text-align: center;
        position: absolute;
        top: 13%;
        left: 10%;
        .autor-head{
            margin-top: 7px;
            font-size: 25px;
            font-weight: bold;
        }
        .autor-description{
            margin-top: 10px;
            font-size: 18px;
        }
        img{
            width: 70%;
        }
    }
    img{
        width: 80%;
    }
}
.autor-container{
    .Flip2{
        display: none;
    }
}
.autor-container:hover{
    .Flip1{
        display: none;
    }
    .Flip2{
        display: inline;
    }
}

// .flip-card-inner {

//     transition: transform 0.6s;
//     transform-style: preserve-3d;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//   }
  
//   .flip-card:hover .flip-card-inner {
//     transform: rotateY(180deg);
//   }
  
//   .flip-card-front, .flip-card-back {
//     position: absolute;
   
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
//   }
  
//   .flip-card-front {
//     background-color: #bbb;
//     color: black;
//   }
  
//   .flip-card-back {

//     transform: rotateY(180deg);
//   }