<div class="title">
    <img src="/assets/Elvis_Acasa.svg">
    <div class="title-middle">
        <p>Bine ati venit</p>
        <div class="middle">
            <hr><p>la</p><hr>
        </div>
        <div class="title-bottom"><p>Blog</p></div>
    </div>
    <img src="/assets/Mihaita_Acasa.svg">
</div>
<div class="precuvant-container">
    <div class="precuvant-title">
        <img src="/assets/tag.svg">
        <p>Precuvant</p>
        <img src="/assets/tag.svg">
    </div>
    <div class="precuvant-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<div class="articole-container">
    <div class="articol-container">
        <img src="/assets/Articol_frame.svg">
        <div class="articol-content">
            <div class="articol-content-text-title"><p>Lorem ipsus loresa Tenis</p></div>
            <img src="/assets/ArticolTag.svg">
            <div class="articol-content-text-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo... </p></div>
        </div>
    </div>
    <div class="articol-container">
        <img src="/assets/Articol_frame.svg">
        <div class="articol-content">
            <div class="articol-content-text-title"><p>Lorem ipsus loresa Tenis</p></div>
            <img src="/assets/ArticolTag.svg">
            <div class="articol-content-text-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo... </p></div>
        </div>
    </div>
    <div class="articol-container">
        <img src="/assets/Articol_frame.svg">
        <div class="articol-content">
            <div class="articol-content-text-title"><p>Lorem ipsus loresa Tenis</p></div>
            <img src="/assets/ArticolTag.svg">
            <div class="articol-content-text-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo... </p></div>
        </div>
    </div>
</div>
<div class="feedback-container">
    <div class="feedback-title">
        <img src="/assets/tag.svg">
        <p>Feedback</p>
        <img src="/assets/tag.svg">
    </div>
    <div class="feedback-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        <div class="feedback-button">
            <img src="/assets/Feedbackbutton.svg" >
            <div class="feedback-text-button">
                <p>Contacteaza-ne !</p>
            </div>
            
        </div>
    </div>
    
</div>

