
@font-face{
    src: URL(../../assets/OLDENGL.TTF);
    font-family: Old-English;
}
@font-face{
    src: URL(../../assets/ROCK.TTF);
    font-family: Rock-well;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #233D3C;
    .title-bottom{
        font-size: 48px;
        font-weight:500;
        padding-top: 15px;
    }
    img{
        width: 15rem;
    }
    .title-middle{
        width: 27%;
        font-family:Old-English ;
        font-size: 43px;
        font-weight:500;
        .middle {
            display: inline-flex;
            font-size: 38px;
            font-weight:500;
            align-items: center;
        }
        hr{
            background-color: #A5F5F2;
            width: 80px;
            height: 4px;
            border: #A5F5F2;
            margin: 20px;
            border-radius: 20px;
        }
    }
}
.precuvant-container {
    color: #233D3C;
    margin-top:70px ;
    font-family: Rock-well;
    .precuvant-title{
        font-weight: 500;
        font-size: 35px;
        margin: 20px;
        display: flex;
        justify-content: center;
        img{
            margin-left: 40px;
            margin-right: 40px;
            width: 4.5%;
        }
    }
    .precuvant-body{
        width: 70%;
        margin: 0 auto;
        p{
            text-align: center;
            font-weight: 500;
            font-size: 25px;
            margin-top: 40px;
        }

    }
}
.articole-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .articol-container{
        position: relative;
        margin: 70px 24px 0 24px ;
        img{
            width: 91%;
        }
        .articol-content{
            font-family: Rock-well;
            text-align: center;
            position: relative;
            width: 220px;
            margin: 0 auto;
            margin-bottom: 30%;
            margin-top: -112%;
            .articol-content-text-title{
                font-size: 22px;
            }
            .articol-content-text-body{
                margin-top: 10px;
                p{
                    font-size: 18px;
                  }
            }
            img{
                width: 160px;
            }
        }
    }
}

.feedback-container {

    color: #233D3C;
    margin-top:70px ;
    font-family: Rock-well;
    .feedback-title{
        font-weight: 500;
        font-size: 35px;
        margin: 20px;
        display: flex;
        justify-content: center;
        img{
            margin-left: 40px;
            margin-right: 40px;
            width: 4.5%;
        }
    }
    .feedback-body{
        width: 70%;
        margin: 0 auto;

        img{
            position: relative;
            cursor: pointer;
        }
        .feedback-text-button{
            cursor: pointer;
            margin-top: -95px;
            color: #F4FFFE;
            position: relative;
        }
        .feedback-button{
            margin-top: 35px;
            margin-bottom: 50px;
            text-align: center;
        }
        p{
            text-align: center;
            font-weight: 500;
            font-size: 25px;
            margin-top: 40px;
        }
    }
}
