@font-face {
  src: URL(../../assets/ROCK.TTF);
  font-family: Rock-well;
}
.sidenav {
  background: #233d3c;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 8.875rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
    justify-content: space-around;
    font-family: Rock-well;
    .logo-shape {
      background: #40ada7;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      display: flex;
      cursor: pointer;
      align-items: center;
      text-align: center;
      justify-content: center;
      .logo-hashtag {
        color: #f4fffe;
        font-size: 30px;
      }
      .logo-shifted {
        margin-left: 70px;
        transition: all 0.5s ease;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .logo {
      background-color: #fff;
      text-align: center;
      width: 3rem;
      border-radius: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }
    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;
    }
    .fa-times {
      color: #f4fffe;
      font-size: 24px;
    }
  }
}
.sidenav-collapsed {
  width: 16.5625rem;
  .logo-container {
    padding: 0.938rem 2.188rem 0 2.188rem;
  }
}
.sidenav-nav {
  list-style: none;
  padding: 2.188rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 1rem;
    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 4.063rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;
      justify-content: center;
      .sidenav-link-icon {
        font-size: 30px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }
      .sidenav-link-text {
        margin-left: 1.5rem;
        font-size: 24px;
      }
    }
  }
  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: #f3f3f3;
    }
    .sidenav-link-icon,
    .sidenav-link-text {
      color: #233d3c;
    }
  }
}
.active {
  background-color: #40ada7;
  .sidenav-link-icon,
  .sidenav-link-text {
    color: #f3f3f3;
  }
}
#Profil {
  margin-top: auto;
  margin-bottom: 4.063rem;
}
/* Extra small devices (phones, 600px and down */
@media only screen and (min-width: 480px) {
}
/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (max-width: 480) {
}
/* Medium devices (landscape tablets, 768px and up */
@media only screen and (max-width: 768px) {
  .sidenav {
    display: none;
  }
}
/* Large devices (Laptops/desktops, 1024px and up*/
@media only screen and (max-width: 1024px) {
  .sidenav {
    width: 6.25rem;
  }
  .sidenav-nav {
    padding: 1.188rem;
  }
}
@media only screen and (max-width: 1200px) {
  .sidenav {
    width: 7.5rem;
    .logo-container {
      .logo-shape {
        width: 76px;
        height: 76px;
        .logo-hashtag {
          font-size: 25px;
        }
      }
    }
  }
  .sidenav-nav {
    .sidenav-nav-item {
      .sidenav-nav-link {
        height: 3.25rem;
        .sidenav-link-icon {
          font-size: 25px;
        }
      }
    }
  }
}
